.publications {
    background-color: $bg-color;
    padding-top: 30px;
    // .publications__block

    &__block {
    }

    // .publications__main

    &__main {}

    // .publications__link

    &__link {
        font-size: 14px;
            font-weight: 700;
            color: $regular-color;
            text-transform: uppercase;
            text-decoration: none;
            line-height: 17px;
            padding-bottom: 5px;
            &:hover {
                    color: $accent_color;
                }
    }

    // .publications__tittle

    &__tittle {
            font-weight: 700;
            font-size: 30px;
            line-height: 46px;
            background: $gradient-text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-bottom: 30px;
        
            @media screen and (min-width: $breakpoint-md) {
                font-size: 38px;
            }
    }

    // .publications__cards

    &__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        // @media screen and (min-width: $breakpoint-md) {
        //     display: flex;
        //     flex-flow: wrap;
        // }
    }

    // .publications__card

    &__card {
        background-color: #FFFFFF;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 30px;
        flex: 1 1 100%;
        
            @media screen and (min-width: $breakpoint-md) {
                flex: 1 1 47%;
            }
        
            @media screen and (min-width: $breakpoint-lg) {
                flex: 1 1 30%;
            }
    }
    
    &__third-card {
        @media screen and (min-width: $breakpoint-md) {
                flex: 1 1 100%;
            }
        
            @media screen and (min-width: $breakpoint-lg) {
                flex: 1 1 30%;
            }
    }

    // .publications__picture

    &__picture {
        width: 100%;
        height: 200px;
        object-fit: cover;
        padding-bottom: 30px;
    }

    // .publications__name

    &__name {
        font-size: 16px;
        font-weight: 700;
        color: $regular-color;
        line-height: 20px;
        padding: 0 30px;
    }

    // .publications__date

    &__date {
        font-size: 12px;
        text-transform: uppercase;
            font-weight: 700;
            color: $text-color;
            line-height: 15px;
            padding: 15px 30px;
    }

    // .publications__text

    &__text {
        border-top: 4px solid #E6E6F0;
        margin: 0 30px;
        padding-top: 15px;
        padding-bottom: 30px;
        font-size: 14px;
        line-height: 22px;
    }
}
